





@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#name {
  font-family: 'Roboto';
  font-weight: 600;
}

#artist{
font-family: 'Roboto';
font-weight: 400;
}

#album {
  font-family: 'Roboto';
  font-weight: 300;
}

#add_button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  float: center;
  margin-left: 5px;
  margin-right: 10px;
}

#button{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  
}

#navbar {

  width: 100%; 
  float:none;
    margin:0 auto;
    padding-left: 10px;
    display: block;
    text-align: left;
}

#add-view{
  display: flex;
  justify-content: center;
  align-items: center;
}

div{
font-family: 'Roboto';
font-weight: 400;
}

img{
  width: 300px;
  height: 300px;
}

#action_button{
height: 40px;
width: 40px;
border-radius: 50%;
float: center;
}

#header_icon{
  height: 60px;
  width: 60px;
}


#table {
  border-radius: 25px;
    border-collapse: separate;
    border-spacing:0 5px;
}

.card-body{
  border-radius: 25px;

}

#card{
  border-radius: 25px;
 width: 300px;
 height: auto;
 margin: 0 auto; /* Added */
 float: none; /* Added */
 margin-bottom: 10px; /* Added */
}

#header {
  color: #F4BD3F;
  font-family: 'Roboto';
  font-weight: 300;
}

th{
  font-family: 'Roboto';
font-weight: 900;
}


  


.text-center{
  font-family: 'Roboto';
  font-weight: 300;
}


